# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
build/
*.spec
# dist/  # Descomenta esta línea si NO quieres subir el .exe

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Configuración local (se crean automáticamente)
git_config.json
historial_proyectos.txt
proyectos_guardados.json
